Bsdl.FreshTrade.UI.Basic/Service References/DictionaryServiceReference/DictionaryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Bsdl.FreshTrade.Domain.Basic.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Bsdl.FreshTrade.Domain.Basic.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDTOCompany">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOCompany" nillable="true" type="tns:DTOCompany" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOCompany" nillable="true" type="tns:ArrayOfDTOCompany" />
  <xs:complexType name="DTOCompany">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOCompany" nillable="true" type="tns:DTOCompany" />
  <xs:complexType name="ArrayOfDTOCurrency">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOCurrency" nillable="true" type="tns:DTOCurrency" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOCurrency" nillable="true" type="tns:ArrayOfDTOCurrency" />
  <xs:complexType name="DTOCurrency">
    <xs:sequence>
      <xs:element minOccurs="0" name="DecimalPlaces" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsTriangulate" type="xs:boolean" />
      <xs:element minOccurs="0" name="No" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOCurrency" nillable="true" type="tns:DTOCurrency" />
</xs:schema>