Bsdl.FreshTrade.UI.PreInv/Service References/SalesOfficeService/SalesOfficeService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61105/SalesOfficeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Bsdl.FreshTrade.Domain.Account.Entities" />
  <xs:element name="GetSalesOffices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesOfficesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Bsdl.FreshTrade.Domain.Account.Entities" minOccurs="0" name="GetSalesOfficesResult" nillable="true" type="q1:ArrayOfDTOSalesOffice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>