Bsdl.FreshTrade.UI.PreInv/Service References/PreInvService/PreInvService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61111/PreInvService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Bsdl.FreshTrade.Domain.PreInv.Entities" />
  <xs:import schemaLocation="http://localhost:61111/PreInvService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:61111/PreInvService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Bsdl.FreshTrade.Domain.PreInv.Enums" />
  <xs:element name="Extract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Bsdl.FreshTrade.Domain.PreInv.Entities" minOccurs="0" name="extractParams" nillable="true" type="q1:DTOPreInvExtractParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Bsdl.FreshTrade.Domain.PreInv.Entities" minOccurs="0" name="ExtractResult" nillable="true" type="q2:DTOPreInvExtractResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgress">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProgressResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepareForPrint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Bsdl.FreshTrade.Domain.PreInv.Entities" minOccurs="0" name="updateParams" nillable="true" type="q3:DTOPreInvUpdateParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepareForPrintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PrepareForPrintResult" nillable="true" type="q4:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Bsdl.FreshTrade.Domain.PreInv.Entities" minOccurs="0" name="updateParams" nillable="true" type="q5:DTOPreInvUpdateParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Bsdl.FreshTrade.Domain.PreInv.Enums" minOccurs="0" name="UpdateResult" type="q6:PreInvUpdateStatusType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CleanUp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CleanUpResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Bsdl.FreshTrade.Domain.PreInv.Entities" minOccurs="0" name="updateParams" nillable="true" type="q7:DTOPreInvUpdateParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExportDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>