Bsdl.FreshTrade.UI.PreInv/Service References/AccountService/AccountService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Bsdl.FreshTrade.Domain.Account.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Bsdl.FreshTrade.Domain.Account.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61111/AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Bsdl.FreshTrade.Domain.Account.Enums" />
  <xs:complexType name="DTOAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="ANANumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccArAutoAllocCdts" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AccLanguage" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AccountBelongsToCompanyNo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="AcsSalOffNo" type="xs:int" />
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryNo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerVatType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GLType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HeadOfficeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InvoicePeriod" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Bsdl.FreshTrade.Domain.Account.Enums" minOccurs="0" name="InvoiceType" type="q1:DTOInvoiceType" />
      <xs:element minOccurs="0" name="IsApplyCompaundVatSale" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsTwoVatRatesCustomer" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PODRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="PartPricedInvoicesAllowed" type="xs:boolean" />
      <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StockHoldLocation" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Bsdl.FreshTrade.Domain.Account.Enums" minOccurs="0" name="Type" type="q2:DTOAccountType" />
      <xs:element minOccurs="0" name="UseDeliveryDateAsInvoiceDate" type="xs:boolean" />
      <xs:element minOccurs="0" name="Vat" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOAccount" nillable="true" type="tns:DTOAccount" />
</xs:schema>