Bsdl.FreshTrade.UI.PreInv/Service References/AccountService/AccountService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Bsdl.FreshTrade.Domain.PreInv.WideObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Bsdl.FreshTrade.Domain.PreInv.WideObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61111/AccountService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Bsdl.FreshTrade.Domain.Account.Entities" />
  <xs:complexType name="ArrayOfWideAccountInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WideAccountInfo" nillable="true" type="tns:WideAccountInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWideAccountInfo" nillable="true" type="tns:ArrayOfWideAccountInfo" />
  <xs:complexType name="WideAccountInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Bsdl.FreshTrade.Domain.Account.Entities" base="q1:DTOAccount">
        <xs:sequence>
          <xs:element minOccurs="0" name="LocalAccountCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WideAccountInfo" nillable="true" type="tns:WideAccountInfo" />
</xs:schema>