Bsdl.FreshTrade.UI.PreInv/Service References/AccountService/AccountService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61111/AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Bsdl.FreshTrade.Domain.Account.Enums" />
  <xs:import schemaLocation="http://localhost:61111/AccountService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Bsdl.FreshTrade.Domain.PreInv.WideObjects" />
  <xs:element name="GetAccountsBySalesOffice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salesOfficeNo" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Bsdl.FreshTrade.Domain.Account.Enums" minOccurs="0" name="accountType" nillable="true" type="q1:DTOAccountType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsBySalesOfficeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Bsdl.FreshTrade.Domain.PreInv.WideObjects" minOccurs="0" name="GetAccountsBySalesOfficeResult" nillable="true" type="q2:ArrayOfWideAccountInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>